# compatible as dockerignore

# generic, hidden
**/.*
**/*.code-workspace
**/*.egg-info
**/*.spec

# generic
**/__pycache__/
**/notes/
**/trash/
**/venv/
**/typings/
**/cache/
**/build/
**/dist/
**/lib/
**/bin/*

# specific
**/config.toml

# unignore
!**/.*.sh
!**/*.sh
